@model IEnumerable<BlogMVCApp.Models.Blog>

@{
    ViewBag.Title = "Index";
}



<h2 class="text-center text-muted">Blog Listesi</h2>
@if (TempData["blog"] != null)
{
    var blog = TempData["blog"] as BlogMVCApp.Models.Blog;
    <div class="alert alert-info">
        <div class="col-md-12">
            <strong><i class="fa fa-5x fa-info"></i> @blog.Baslik</strong>
            adlı blog başarıyla güncellendi!
        </div>

    </div>
}





<p>
    <a href="@Url.Action("Create","Blog")" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Yeni Blog</a>
</p>
<hr />
<table class="table table-bordered table-hover table-sm table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </th>
        <th style="width:100px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklenmeTarihi)
            </td>
            <td>
                @if (item.Onay)
                {
                    <label class=" badge badge-success">Onaylı</label>
                }
                else
                {
                    <label class="badge-danger badge">Onay Bekliyor</label>
                }
            </td>
            <td>
                @if (item.Anasayfa)
                {
                    <label class=" badge badge-success">Anasayfa</label>
                }
                else
                {
                    <label class="badge-danger badge">Anasayfa Değil</label>
                }
            </td>
            <td class="text-center">
                <a title="Edit" href="@Url.Action("Edit","Blog",new {id=item.Id})" class="text-warning"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                <a title="Details" href="@Url.Action("Details","Blog",new {id=item.Id})" class="text-info"><i class="fa fa-info"></i></a>&nbsp;&nbsp;&nbsp;
                <a title="Delete" href="@Url.Action("Delete","Blog",new {id=item.Id})" class="text-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
</table>
<script>
    $(function () {
        function explode() {
            $(".alert").hide();
        }
        setTimeout(explode, 5000);
    });
</script>