@using System.Collections.Specialized
@model IEnumerable<BlogMVCApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}
@if (Model.Count() == 0)
{
    <div class="aler alert-info">
        <p>Uygun Blog Yazısı Bulunamadı!</p>
    </div>
}

<h2 class="text-center text-muted">Blog Listesi</h2>

@foreach (var item in Model)
{
    <div class="card mt-5 shadow-lg">

        <img class="card-img-top card-img" src="http://lorempixel.com/g/900/300" alt="" />
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h5>@item.Baslik</h5>
                </div>
                <div class="col-md-4 text-right">
                    <i class="fa fa-clock-o"></i> @item.EklenmeTarihi
                </div>
            </div>
        </div>
        <div class="card-body">
            @item.Aciklama
        </div>
        <a href="@Url.Action("Details","Blog",new{id=item.Id})" class="btn btn-sm btn-default"><i class="fa fa-caret-down"></i> Devamı</a>
    </div>
}


@section SagKolon{
    @Html.Action("KategoriListesi", "Category")
}